@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

body{
    background-color: rgb(255, 255, 255)
}

header{
    position: fixed;
    background: rgb(255, 255, 255);
    padding: 15px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.home{
    background: url('Imagens/banner.png') center/cover no-repeat;
    cursor: pointer;
    height: 100vh;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home button{
    cursor: pointer;
    border: 2px solid #;
    color: #b9b5b5;
    border-radius: 4px;
    padding: 10px 30px;
    font-size: 15px;
    margin-top: 20px;
    background-color: transparent;
}

.home button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 8px #000;
    transition: 1.8s ease-in-out;
}

.home h1 {
    font-size: 40px;
}

.home p {
    font-size: 20px;
    max-width: 1000px
}


.apresentacao{
    padding: 40px 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.apresentacao h1{
    font-size: 34px;
}

.apresentacao p{
    font-size: 20px;
}

.apresentacao img{
    border-radius: 2%;
    cursor: pointer;
    transition: 1.8s ease-in-out;
}

.apresentacao img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 8px #000;
}

.historia {
    padding: 40px 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.historia h1{
    font-size: 34px;
}

.historia p{
    font-size: 20px;
}

.tradicao {
    padding: 40px 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.tradicao h1{
    font-size: 34px;
}

.tradicao p{
    font-size: 20px;
}
















.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 2s;
}